body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Asegura que el contenido no se desborde */
* {
  box-sizing: border-box;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}