body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
}

.app {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 52, 52);
}
.home-background{
  position: relative;
  z-index: 1;
}
.home-background::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-image: url('https://static.vecteezy.com/system/resources/previews/005/474/916/non_2x/modern-grey-background-overlap-red-with-light-lines-effect-vector.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

/* Asegura que el contenido no se desborde */
* {
  box-sizing: border-box;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}